<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>{% block title %}{% endblock %}</title>
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<!--	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">-->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/ready.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/demo.css') }}">
</head>
<body>
	<div class="wrapper">
<!--		<div class="main-header">-->
<!--	<nav class="navbar navbar-header navbar-expand-lg">-->
<!--				</nav>-->
<!--			</div>-->
			<div class="sidebar">
				<div class="scrollbar-inner sidebar-wrapper">
					<div class="user">
						<div class="photo">
							<img src="assets/img/profile.jpg">
						</div>
						<div class="info">
							<a class="" data-toggle="collapse" href="" aria-expanded="true">
								<span>
									{% block username %}{% endblock %}
									<span class="user-level">Пользователь</span>
								</span>
							</a>
						</div>
					</div>
					<ul class="nav">
						<li class="nav-item {% block active_patient %}{% endblock %}">
							<a href="/patient_search">
								<i class="la la-keyboard-o"></i>
								<p>Поиск пациента</p>
<!--								<span class="badge badge-count">50</span>-->
							</a>
						</li>
						<li class="nav-item {% block active_tables %}{% endblock %}">
							<a href="/tables">
								<i class="la la-th"></i>
								<p>Tables</p>
<!--								<span class="badge badge-count">6</span>-->
							</a>
						</li>
<!--						<li class="nav-item">-->
<!--							<a href="notifications.html">-->
<!--								<i class="la la-bell"></i>-->
<!--								<p>Notifications</p>-->
<!--								<span class="badge badge-success">3</span>-->
<!--							</a>-->
<!--						</li>-->
<!--						<li class="nav-item">-->
<!--							<a href="typography.html">-->
<!--								<i class="la la-font"></i>-->
<!--								<p>Typography</p>-->
<!--								<span class="badge badge-danger">25</span>-->
<!--							</a>-->
<!--						</li>-->
<!--						<li class="nav-item">-->
<!--							<a href="icons.html">-->
<!--								<i class="la la-fonticons"></i>-->
<!--								<p>Icons</p>-->
<!--							</a>-->
<!--						</li>-->
<!--						<li class="nav-item update-pro">-->
<!--							<button  data-toggle="modal" data-target="#modalUpdate">-->
<!--								<i class="la la-hand-pointer-o"></i>-->
<!--								<p>Update To Pro</p>-->
<!--							</button>-->
<!--						</li>-->
					</ul>
				</div>
			</div>
		{% block body %}{% endblock %}
<!--		<footer class="footer">-->
<!--					<div class="container-fluid">-->
<!--						<nav class="pull-left">-->
<!--							<ul class="nav">-->
<!--								<li class="nav-item">-->
<!--									<a class="nav-link" href="http://www.themekita.com">-->
<!--										ThemeKita-->
<!--									</a>-->
<!--								</li>-->
<!--								<li class="nav-item">-->
<!--									<a class="nav-link" href="#">-->
<!--										Help-->
<!--									</a>-->
<!--								</li>-->
<!--								<li class="nav-item">-->
<!--									<a class="nav-link" href="https://themewagon.com/license/#free-item">-->
<!--										Licenses-->
<!--									</a>-->
<!--								</li>-->
<!--							</ul>-->
<!--						</nav>-->
<!--						<div class="copyright ml-auto">-->
<!--							2018, made with <i class="la la-heart heart text-danger"></i> by <a href="http://www.themekita.com">ThemeKita</a>-->
<!--						</div>-->
<!--					</div>-->
<!--				</footer>-->
		</div>
		</div>
	</div>
</div>

</body>
<script src="static/js/core/jquery.3.2.1.min.js"></script>
<script src="static/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
<script src="static/js/core/popper.min.js"></script>
<script src="static/js/core/bootstrap.min.js"></script>
<script src="static/js/plugin/chartist/chartist.min.js"></script>
<script src="static/js/plugin/chartist/plugin/chartist-plugin-tooltip.min.js"></script>
<script src="static/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>
<script src="static/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js"></script>
<script src="static/js/plugin/jquery-mapael/jquery.mapael.min.js"></script>
<script src="static/js/plugin/jquery-mapael/maps/world_countries.min.js"></script>
<script src="static/js/plugin/chart-circle/circles.min.js"></script>
<script src="static/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
<script src="static/js/ready.min.js"></script>
<script>
	$('#displayNotif').on('click', function(){
		var placementFrom = $('#notify_placement_from option:selected').val();
		var placementAlign = $('#notify_placement_align option:selected').val();
		var state = $('#notify_state option:selected').val();
		var style = $('#notify_style option:selected').val();
		var content = {};

		content.message = 'Turning standard Bootstrap alerts into "notify" like notifications';
		content.title = 'Bootstrap notify';
		if (style == "withicon") {
			content.icon = 'la la-bell';
		} else {
			content.icon = 'none';
		}
		content.url = 'index.html';
		content.target = '_blank';

		$.notify(content,{
			type: state,
			placement: {
				from: placementFrom,
				align: placementAlign
			},
			time: 1000,
		});
	});
</script>
</html>